- if @conference.schedule_open?
  %p= t('cfp.pages.conference_open_mode')


- if @person.events_in(@conference).size > 0
  - if @person.availabilities_in(@conference).count == 0
    %p=t("cfp.specify_availability")
    = action_button "success", t("cfp.edit_availability"), new_cfp_person_availability_path
    .clear
  %p=t("cfp.input_appreciation")
  = action_button "success", t("cfp.submit_another_event"), new_cfp_event_path
  = action_button "success", t("cfp.join_event"), cfp_events_join_path

- else
  %p=t("cfp.take_time_to_submit")
  = action_button "success", t("cfp.submit_new_event"), new_cfp_event_path
  = action_button "success", t("cfp.join_event"), cfp_events_join_path
  .clear
  %br
  %p
    And do not forget to fill out your personal details if you have not done so already. This is what we will use to populate the page with information about our speakers. You can go back and update this up to a few weeks out from the event.
  //%p=t("cfp.not_forget_personal_details")
  = action_button "success", t("cfp.edit_profile"), edit_cfp_person_path
